@import url("https://fonts.googleapis.com/css2?family=Shantell Sans&display=swap ");

body {
  font-family: Shantell Sans, serif;
  background: linear-gradient(
    90deg,
    rgba(128, 53, 78, 0.94) 0%,
    rgba(228, 209, 125, 0.8) 100%
  );
  width: 100%;
  height: 100%;
}

.nav-con-text {
  font-size: 20px;
}

.block-photo img {
  width: 500px;
  height: 500px;
  margin-top: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0.6em;
  animation: myAnim 7s linear 0s infinite normal forwards;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.card h5 {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.card {
  color: rgb(139, 243, 113);
  background-color: rgb(37, 37, 37);
  text-align: center;
  width: 60%;
  margin: auto;
}

.card-con {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .block-card-size {
    margin-right: 1em;
    position: relative;
  }

  .block-photo img {
    width: 300px;
    height: 300px;
  }
}
